html, body {
	color:           black;
	background:      white;
	font-weight:     normal;
	font-style:      normal;
	text-decoration: none;
	margin:  0;
	padding: 0;
	border:  0;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
    min-height: 600px;
}
img { 
    border: 0;
}
td
{
    background-color: #FFF;
}

#container { 
    width: 924px; 
    border: 10px; 
    border-style: solid; 
    border-color: #FFF;
    
}

#capsule { 
    min-height:700px; 
    width: 100%;
    background: #AAA;
}

#header { 
    width: 804px; border: 0px; margin-left: 120px; 
    background: #FFF;
    min-height: 700px;
}

#leftcol { 
    background: #AAA; width: 120px; float: left;
    
}

#foot { 
    width: 100%; display: block; background: #555; text-align: center; color: #FFF; line-height: 20px;
}



.journal-data, .journal-data-wrap, a.journal-data td
{
    text-decoration: none;
    font-size:11px;
    height: 24px;
    font-style: normal;
    letter-spacing: 0px;
	text-indent:0px;
	white-space: nowrap;
	border-style: solid;
	border-color: #CCCCCC;
    border-width: 0px;
    border-top-width: 1px;
    vertical-align: middle;
}
.journal-data-wrap td
{
	white-space: normal;
}
/* alternate colored rows */
.row0 td
{
	background-color: #FFFFFF;
    
}

.row1 td
{
	background-color: #EEEEEE;
}

.row2 td
{
	background-color: #DDDDDD;
    margin: 1px;
    
}
.row2:hover  td{ background-color : #CCFFFF }

.row3 td 
{
	background-color: #f0f0f0;
}

.row4 td 
{
	background-color: #CCC;
}

a {
 color: #222222; text-decoration: none;
}

a:visited {
 color: #222222; text-decoration: none;
}

a:hover {
 color: #44BBDD; text-decoration: underline;
}


.menu-main
{
	font-size: 11px; 
	font-style: normal; 
	line-height: 18px;
	letter-spacing: 1px; 
	font-weight: bold; 
	color: black;

}

.basic-table-cell, .basic-table-cell-indent
{

    align: left;
    color: black;
    font-size:10px;
    font-style: normal;
    letter-spacing: 1px;
	text-indent:2px;
	white-space: nowrap;
    padding: 2px;
}

.basic-table-cell-indent
{
	
	border-left-color: #FFFFFF;
    border-left-width: 20px;
	text-indent:0px;

}

.menu-sub, .menu-sub-selected, .menu-sub-sub-selected, .menu-sub-sub-selected-gray
{
    align: left;
    color: black;
    font-size:10px;
    font-style: normal;
    letter-spacing: 1px;
	text-indent:0px;
	white-space: nowrap;
	background: #CCC;
    padding: 5px;
}
.menu-sub-selected
{
 font-weight: bold;
 background-color: #99CCCC; 


} 

.menu-sub-sub-selected
{
 font-weight: bold;
 background-color: #BBB;
 color: #444; 


}
.menu-sub-sub-selected-gray
{
 font-weight: bold;
 background-color: #DDDDDD; 
}
.application-table, .table-menu, .form-table,, .journal-table
{
}

.data-table td { 
    border-bottom-width: 1px;
    border-bottom-color: white;
	border-bottom-style: solid;
}
    

.sm_indent { 
    padding-left: 15px;
}


.error { 
    font-family: 'Lucida Console', Monaco, monospace; font-size: 11px; color: red; border: 1px; border-color: #FF6699; border-style: solid; background: #FFCCFF; line-height: 24px;
    text-align: center;
}

.myerror { 
    border: 1px; border-color: #FF6699; border-style: solid; 
}



.generic-button { 
    text-align: center;
}

.generic-button a { 
    padding: 2px 5px 2px 5px; border: 2px; border-style: solid; border-color: #BBB;
    text-align: center;
}
.generic-button img { 
    margin-bottom: -4px; margin-right: 6px;
}
a.generic-button { 
    padding: 2px 5px 2px 5px; border: 2px; border-style: solid; border-color: #BBB;
    text-align: center;
}

/* Check form */
#check { 
width: 500px; height: 200px; border: 1px; border-style: solid; padding: 5px;
}
#check_date {float: left}
#check_number { float: right; }
#check_payee { margin-top: 60px; }
#check_memo { margin-top: 80px; }

/* Deposit slip */
#deposit { 
width: 500px; height: 200px; border: 1px; border-style: solid; padding: 5px;
}
#deposit_date {float: left}
#deposit_number { float: right; }
#deposit_payee { margin-top: 40px; float:right; }
#deposit_memo { float:right;}

/* Bill form */
#bill { 
width: 500px; height: 200px; border: 1px; border-style: solid; padding: 5px;
}
#bill_date {float: left}
#bill_number { float: right; }
#bill_payee { margin-top: 60px; float:right; }
#bill_memo { margin-top: 120px; }