<?php

/*

JANUARY 2009

THIS FILE IS ONLY HERE FOR A LITTLE LONGER, IT WILL SOON BE REMOVED.

*/

$HOST = "";
$DATABASE = "";
$USER = "";
$PASS = "";
$PBOOKS_USER = "";
$PBOOKS_PASS = "";
// In the case of XAMPP you would include "/opt/lampp/bin" in the 
// $MYSQLBIN path

$MYSQLADMIN = "mysqladmin";
$MYSQLBIN = "mysql";

$db = array(
        'host' => $HOST,
        'database' => $DATABASE,
        'admin_user' => $USER,
        'admin_pass' => $PASS,
        'pbooks_user' => $PBOOKS_USER,
        'pbooks_pass' => $PBOOKS_PASS
        );

?>
