<?php

/*

   This file is used only for installation at this point, allowing you 
   to specify a different user (probably with higher privileges) to 
   the installation process. 

*/

$HOST = "";
$DATABASE = "";
$USER = "";
$PASS = "";
// In the case of XAMPP you would include "/opt/lampp/bin" in the 
// $MYSQLBIN path

$MYSQLADMIN = "mysqladmin";
$MYSQLBIN = "mysql";

$db = array(
        'host' => $HOST,
        'database' => $DATABASE,
        'user' => $USER,
        'pass' => $PASS
        );

?>
